.Home {
	margin: 30px;
}

.UsersTable__TableHead__columnSortContainer {
	width: 100%;
	user-select: none;
	white-space: break-spaces;
}
.UsersTable__TableHead__columnSortContainer--sortable {
	cursor: pointer;
}
